@page "/CalculationResult"
@using FiberCore.Services
@inject NavigationManager Navigation
@inject FibercalcState calcState

<h3>Результаты расчета</h3>

@if (!string.IsNullOrEmpty(HtmlResult))
{
    <p>Расчет: <div>@HtmlResult</div> </p>    
}
else
{
    <p>Нет доступных данных для отображения.</p>
}

<button @onclick="GoBack">Назад</button>

@code {
    [Parameter]
    public string? HtmlResult { get; set; }


    protected override void OnInitialized()
    {
        // передача параметров через URL
        Uri? uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var q = uri.Query;
        var parameters = System.Web.HttpUtility.ParseQueryString(q);        

        //передача через состояние приложения(Application State)
        HtmlResult = calcState.HtmlResult;
    }

    
    private void GoBack()
    {
        Navigation.NavigateTo("/Calculator");
    }
}
