@page "/CalculationResult"
@using FiberCore.Services
@inject NavigationManager Navigation
@inject FibercalcState calcState



<h3>Результаты расчета</h3>

@if (HtmlContent != null)
{
    <p>Расчет: <div>@HtmlContent</div> </p>
}
else
{
    <p>Нет доступных данных для отображения</p>
}

<button @onclick="GoBack">Назад</button>

@code {
    [Parameter]
    public MarkupString? HtmlContent { get; set; }


    protected override void OnInitialized()
    {
        // передача параметров через URL
        Uri? uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var q = uri.Query;
        var parameters = System.Web.HttpUtility.ParseQueryString(q);        

        //передача через состояние приложения(Application State)
        HtmlContent = (MarkupString) calcState.HtmlResult;
    }

    
    private void GoBack()
    {
        Navigation.NavigateTo("/Calculator");
    }
}
