@page "/"

<PageTitle>Главная</PageTitle>

<div class="text-center">
    <div>
        <h1 class="display-4">Конструкции сталефибробетонные</h1>
        <p>Расчет конструкций из сталефибробетона по <b>СП 360.1325800.2017</b></p>
    </div>
    <div>
        <h3>Направления усилий</h3>
        <img src="/Images/СК1.jpg" width="200" height="200" alt="Знаки усилий" />
    </div>
    <div>
        <h3>Класс фибробетона</h3>
        <img src="/Images/FiberBeton.png" alt="Фибробетон" />
    </div>
    <div>
        <h3>Класс арматуры</h3>
        <img src="/Images/Rebar.png" alt="Арматура" />
    </div>
    <div>
        <h3>Коэффициенты условий работы</h3>
        <img src="/Images/CoefInform.png" alt="Коэффициенты" />
    </div>
    <div>
        <h3>Класс бетона-матрицы</h3>
        <img src="/Images/Concrete.png" alt="Бетон" />
    </div>
    <div>
        <h3>Предельные прогибы</h3>
        <img src="/Images/Deflection.png" alt="Прогибы" />
    </div>
    <div>
        <h3>Класс фибры</h3>
        <img src="/Images/Fiberrebar.png" alt="Фибра" />
    </div>
</div>
