@page "/parameters"

<PageTitle>Parameters</PageTitle>

<h1>Параметры</h1>

<p role="status">текущие параметры: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
